/*================COMMON STYLES================*/
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --second-color: #000;
  --title-color: #212121;
  --link-color: #757575;
  --background-color: #f5f4fa;
  --background-section-color: #2f303a;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --contact-info-conection-color: rgba(255, 255, 255, 0.6);
  --line-color: #ececec;
  --work-categories-color: #eeeeee;
  --border-color: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--animation-timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation-timing-function);
  width: 528px;
  height: 582px;
  background: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border-style: none;
  padding: 10px 32px;
  align-self: center;
}

.modal-container {
  padding: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal-label {
  margin-bottom: 10px;
}

.modal-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--link-color);
}

.modal-input {
  display: block;
  width: 100%;
  border: 1px solid rgba(83, 74, 74, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms var(--animation-timing-function);
}

.modal-wrapper {
  position: relative;
  display: block;
}

.modal-wrapper:focus-within > .modal-icon {
  fill: var(--accent-color);
}

.modal-wrapper:focus-within > .modal-input {
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--animation-timing-function);
}

.comment {
  resize: none;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contract-terms-desc {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-bottom: 30px;
}

.contract-terms-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms var(--animation-timing-function),
    background-image 250ms var(--animation-timing-function), border-color 250ms var(--animation-timing-function);
}

.contract-terms:focus + .contract-terms-desc::before {
  box-shadow: 0 0 0 2px black;
}

.contract-terms:checked + .contract-terms-desc::before {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px transparent;
}

.contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.contract-terms {
  margin-bottom: 30px;
}

.modal-box {
  display: flex;
  text-align: center;
}

.modal-btn-close {
  display: inline-flex;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  transition: fill 250ms var(--animation-timing-function);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  fill: var(--accent-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-icon {
  fill: var(--border-color);
  transition: fill 250ms var(--animation-timing-function);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms var(--animation-timing-function);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:focus .social-list-icon,
.social-list-link:hover .social-list-icon {
  fill: var(--main-color);
}

/*========HEADER========*/
.header {
  background-color: var(--main-color);
  border-bottom: var(--line-color) solid 1px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.active-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-color: var(--accent-color);
  border-radius: 2px;
  overflow: hidden;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 90px;
}

.logo-text-white-theme {
  color: var(--second-color);
}

.logo-text-dark-theme {
  color: var(--main-color);
}

.navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  transition: color 250ms var(--animation-timing-function);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.active-link {
  color: var(--accent-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item-mail {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--link-color);
  fill: var(--link-color);
  transition: color 250ms, fill 250ms var(--animation-timing-function);
}

.envelope-img {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.smartphone-img {
  width: 12px;
  height: 16px;
  margin-right: 10px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
/*========END HEADER========*/

/*========FOOTER========*/
.footer {
  background: var(--background-section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
  padding: 0;
  margin-right: 0;
}

.contact-info-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.contact-info-connection {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-info-conection-color);
}

.contact-info-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-elements {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.address-container {
  margin-right: 70px;
}

.social-container {
  min-width: 206px;
  margin-right: 93px;
}

.social-title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.form-field {
  position: relative;
}

.form-input {
  width: 358px;
  margin-right: 8px;
  color: var(--main-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  outline: none;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal-btn-footer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border-style: none;
  padding: 10px 28px;
  fill: var(--main-color);
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: var(--main-color);
}
/*========END FOOTER========*/
/*================END COMMON STYLES================*/

/*================STUDIO================*/
/*========HERO========*/
.hero {
  margin: 0 auto;
  background-color: var(--background-section-color);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-position {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
/*========END HERO========*/

/*========ADVANTAGE========*/
.advantage {
  background-color: var(--main-color);
  padding-top: 94px;
  padding-bottom: 47px;
}

.advantage-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color);
  margin-bottom: 30px;
}
.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.advantage-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.advantage-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.advantage-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
/*========END ADVANTAGE========*/

/*========GALLERY========*/
.gallery {
  background-color: var(--main-color);
  padding-top: 47px;
  padding-bottom: 94px;
}

.gt-title {
  margin-bottom: 50px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}

.text-container {
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.gallery-text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
/*========END GALLERY========*/

/*========TEAM========*/
.team {
  background-color: var(--background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-bottom: 16px;
}

.team-subscribe {
  padding: 30px 32px;
}
/*========END TEAM========*/

/*========REGULAR CUSTOMERS========*/
.regular-customers {
  background-color: var(--main-color);
}

.rc-title {
  margin-bottom: 50px;
}

.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.regular-customers-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 250ms var(--animation-timing-function);
}

.cust-img {
  fill: var(--border-color);
  transition: fill 250ms var(--animation-timing-function);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}

.customers-link:hover .cust-img,
.customers-link:focus .cust-img {
  fill: var(--accent-color);
}
/*========END REGULAR CUSTOMERS========*/

/*================END STUDIO================*/

/*================PORTFOLIO================*/
.work-categories {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

/*========FILTER BUTTONS========*/
.filter-buttons {
  border-radius: 4px;
  border-style: none;
  background-color: var(--background-color);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: background-color 250ms, color 250ms, box-shadow 250ms var(--animation-timing-function);
}

.filter-buttons:hover,
.filter-buttons:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-all {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-buttons-menu {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 34px;
}
.filter-buttons-item:not(:last-child) {
  margin-right: 8px;
}
/*========END FILTER BUTTONS========*/

/*========WORK CATEGORIES========*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(110%);
  transition: transform 250ms var(--animation-timing-function);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.work-categories-link:hover .overlay,
.work-categories-link:focus .overlay {
  transform: translateY(0);
}

.work-categories-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.description-box {
  position: relative;
  overflow: hidden;
}

.work-categories-product {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.work-categories-description {
  padding: 20px 24px;
  border: var(--work-categories-color) solid 1px;
  border-top: none;
}

.work-categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work-categories-item {
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--main-color);
  flex-basis: calc(100% / 3 - 30px);
  transition: box-shadow 250ms var(--animation-timing-function);
}

.work-categories-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*========END WORK CATEGORIES========*/
